
#nested-grid-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-areas:
    "b-text";
}

.photo-box-blog {
    grid-area: b-text;
    z-index: -1;
    padding: 0;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 90vw;
    max-width: 500px;
    max-height: 500px;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.blog-text {
    grid-area: b-text;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: 0.83em;
    color: #303030;
    display: block;
    width: calc(100% - 40px);
    height: auto;
    quotes: "«" "»";
}

.author-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-areas:
    "avatar"
    "bio"
    "social";
    color: #303030;
    width: 100%;
}

.author-face {
    grid-area: avatar;
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.author-content {
    grid-area: bio;
    padding-right: 10px;
    margin-right: 10px;
}

.author-list {
    color: #303030;
    font-size: 0.83em;
    list-style-type: none;
}

.author-social {
    grid-area: social;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.bottom-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100vw;
}

@media (min-width: 800px) {
    .author-container {
        grid-template-columns: 300px 1fr;
        grid-template-rows: 100px auto;
        grid-template-areas:
        "avatar bio"
        "avatar social";
    }

    .author-content {
        padding-right: 20px;
        margin-right: 20px;
    }

    .author-social {
        width: 400px;
    }

    .blog-text {
        padding: 20px 20px 20px 20px;
        margin: 20px 20px 20px 20px;
        width: calc(100vw - 80px);
    }
}

@media (min-width: 1140px) {
    #nested-grid-blog {
        width: 1140px;
        margin-left: calc((100vw - 1140px) / 2);
    }

    .blog-text {
        width: 1140px;
    }

    .author-container {
        width: 1140px;
        margin-left: calc((100vw - 1140px) / 2);
    }

    .bottom-navbar {
        width: 1140px;
        margin-left: calc((100vw - 1140px) / 2);
    }
}