
#nestedGridBlog {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-areas:
    "b-text";
}

.photoBoxBlog {
    /*grid-area: 1 / 1 / 2 / 2;*/
    grid-area: b-text;
    z-index: -1;
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 90vw;
    max-width: 500px;
    max-height: 500px;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.blogText {
    /*grid-area: 1 / 1 / 2 / 2;*/
    grid-area: b-text;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: 0.83em;
    color: #303030;
    display: block;
    width: calc(100vw - 80px);
    height: auto;
    quotes: "«" "»";
}

.authorContainer {
    display: grid;
    grid-template-columns: 100%;
    /*grid-template-rows: 200px auto 40px;*/
    justify-content: center;
    grid-template-areas:
    "avatar"
    "bio"
    "social";
    color: #303030;
    /*border: 2px solid yellow;*/
}

.authorFace {
    grid-area: avatar;
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /*border: 2px solid red;*/
}

.authorContent {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    grid-area: bio;
    /*border: 2px solid yellow;*/
}

.authorList {
    color: #303030;
    font-size: 0.83em;
    list-style-type: none;
}

.authorSocial {
    grid-area: social;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    /*width: 100vw;*/
    /*max-width: 400px;*/
    /*border: 2px solid yellow;*/
}

.bottomNavbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

@media (min-width: 800px) {
    .authorContainer {
        grid-template-columns: 400px calc(100% - 400px);
        grid-template-rows: 150px auto;
        grid-template-areas:
        "avatar bio"
        "avatar social";
    }

    .authorSocial {
        width: 400px;
    }

    .blogText {
        padding: 20px 20px 20px 20px;
        margin: 20px 20px 20px 20px;
        width: calc(100vw - 160px);
    }
}

@media (min-width: 1920px) {
    .authorContainer {
        grid-template-columns: 400px calc(100% - 400px);
        grid-template-rows: 150px auto;
        grid-template-areas:
        "avatar bio"
        "avatar social";
    }

    .authorSocial {
        width: 400px;
    }

    #nestedGridBlog {
        grid-template-columns: 600px calc(100% - 600px);
        grid-template-areas:
        "b-img b-text";
    }

    .blogText {
        grid-area: 1 / 2 / 2 / 2;
        padding: 20px 20px 20px 20px;
        margin: 20px 20px 20px 20px;
        width: calc(100vw - 600px - 160px);
    }

    .photoBoxBlog {
        grid-area: b-img;
    }
}