.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px auto 200px;
    justify-content: center;
    grid-template-areas:
    "hd"
    "nav"
    "main"
    "ft";
    /*border: 2px solid white;*/
}

h1 {
    color: pink;
    /*padding: 6px 0;*/
    text-align: left;
    /*color: #303030;*/
    /*margin: 10px 10px 10px 10px;*/
}

h2 {
    /*padding: 6px 0;*/
    text-align: left;
    color: #303030;
    /*margin: 10px 10px 10px 10px;*/
}

h3, h4, h5, h6 {
    /*padding: 6px 0;*/
    text-align: left;
    color: #303030;
    /*margin: 10px 10px 10px 10px;*/
}

.header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6356c;
    /*border: 2px solid yellow;*/
}

.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    /*border: 2px solid brown;*/
    background-color: #b6356c;
}

.place {
    color: pink;
    /*border: 2px solid pink;*/
}

.content {
    grid-area: main;
    height: auto;
    /*background-color: #6dacab;*/
    /*border: 2px solid pink;*/
}

#nestedGrid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vw;
    /*grid-template-columns: 50% 50%;*/
    /*grid-template-rows: 50% 50%;*/
}

.textBox {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: 0.83em;
    /*text-align: left;*/
    color: #303030;
    display: block;
    width: calc(100% - 40px);
    height: 50vw;
    opacity: 1;
    quotes: "«" "»";
}

.readMore {
    text-decoration: none;
    font-weight: bold;
    /*font-size: 0.83em;*/
    /*padding: 6px 0;*/
    /*text-align: left;*/
    /*margin: 10px 10px 10px 10px;*/
    color: lightcoral;
}

.footer {
    color: white;
    grid-area: ft;
    background-color: #2b2b2b;
    height: 200px;
    /*border: 2px solid darkslategray;*/
}
