@import "./blog-post.css";
@import "./images.css";
@import "./layout.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "./social.css";

:root {
    font: 100% monospace;
    text-decoration: none;
    font-size: 20px;
}

body {
    color: #e6e6e6;
    background-color: #fefefe;
    margin: 0;
}

a {
    /*color: #fefefe;*/
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: crosshair;
}