@import "./blog-post.css";
@import "./images.css";
@import "./layout.css";

:root {
    font: 100% monospace;
    text-decoration: none;
}

body {
    color: #e6e6e6;
    background-color: cadetblue;
}
a {
    color: yellow;
    text-decoration: none;
    font-size: 1.6em;
}
