
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
    background: #b6356c;
    color: white;
}

.fa-twitter {
    background: #b6356c;
    color: white;
}

.fa-linkedin {
    background: #b6356c;
    color: white;
}


